<h1>This is Show!</h1>
<p>Title: <%= @article.title %> </p>
<p>Description <%= @article.description%> </p>
<td> <%= link_to 'Index   |', articles_path%> </td> 
<td> <%= link_to 'Edit', edit_article_path%> </td> 